* {
    margin: 0;
}

* img:hover {
    cursor: pointer;
} 

body{
    background-color: #f2f2f2;
}

#nav-bar{
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    top: 0;
    width: 100%;
    background-color: white;
}

.nav-left {
    float: left;
}

.navi img{
   width: 27px;
   padding-top: 14px;
}

#main-logo {
    width: 120px;
}

.navi-search {
    height: 26px;
    width: 550px;
    float: left;
}

.submit {
    float: left;
    width: 30px;
}

.submit img {
    width: 10px;
    padding-top: 7px;
    padding-bottom: 6px;
}

.nav-right {
    display: flex;
    float: right;
    margin: 10px;
}

.nav-right .navi {
    padding: 10px;
}

#sign-in{
    padding-top: 18px;
}

#sign-in a {
    text-transform: uppercase;
    border: 2px solid #59b6d4;
    padding: 8px 5px;
    font-size: 11px;
    text-decoration: none;
    border-radius: 3px;
}
#sign-in a:visited{
    color: #59b6d4;
    text-decoration: none;
  
}

#container {
    width: 85%;
    margin: 0 auto; 
}

.Main{
    display: flex;
    flex-direction: row;
}

.video-section{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 20px;
}

.video iframe{
    width: 100%; 
    height: 497px;
}

.vid-info{
    padding-bottom: 15px;
    border-bottom: solid lightgrey 1px;
}

.vid-info h1 {
    margin: 8px 0;
}

.left-info {
    float: left;
}

.right-info {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.right-info img {
    width: 25px;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

.video-description {
    border-bottom: solid lightgrey 1px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.video-description img {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.video-description button{
    float: right;
    margin-top: 10px;
    background-color: #ff0100;
    color: white;
    border-radius: 3px;
    border: solid #ff0100 10px;
    text-transform: uppercase;
}

.video-description h4{
    padding-bottom: 15px;
}

.video-description p {
    margin-left: 50px;
}

#comments {
    margin-top: 20px;
}

#comments img{
    width: 20px;
    margin-left: 30px;
    margin-right: 5px;
}

.comments-area{
    margin-top: 15px;
}

.comments-area img {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.suggested{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-top: 15px;
    padding-right: 20px;
}

.suggested-video{
    padding-bottom: 7px;
}

.suggested-video:nth-of-type(2){
    padding-top: 7px;
    border-top: solid lightgray 1px;
}

.suggested-video img {
    float: left;
    width: 180px;
    margin-right: 10px;
}

#full-footer {
    background-color: white;
    
}

.main-footer {
    display: flex;
    align-items: center;
    border-bottom: lightgray 1px solid;
    width: 95%;
    margin: 0px auto;
}

.main-footer select{
    padding: 5px;
    margin: 5px;
}

.main-footer button{
    padding: 5px;
    margin: 5px;
}

.main-footer button a img{
    height: 10px;
    
    
}

#top-footer img {
    width: 100px;
}



#bottom-footer{
    width: 90%;
    margin: 0px auto;
    padding-bottom:30px;
    padding-top: 20px;
}

.top-links a{
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.bottom-links{
    margin-top: 15px;
}

.bottom-links a{
    margin-right: 15px;
    text-decoration: none;
    color: black;

}

.main-footer a{
    text-decoration: none;
    color: black;
}







